// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)


.contact-section {
    list-style-type: none;
    margin-top: 2em;
    font-size: 90%;
    float: right;
}